.article__biography__youtube{
    margin-bottom: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube__iframe__container iframe{
    max-width: 100%;
    flex-grow: 1;
}