* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centered--width {
    margin: auto;
    width: 90rem;
    max-width: 100%;
}

.text--centered{
    text-align: center;
}

.hidden {
    display: none;
}
.margin--bottom--l{
    margin-bottom: 5rem;
}
.margin--bottom--m{
    margin-bottom: 3rem;
}

.margin--bottom--s{
    margin-bottom: 1.6rem;
}
.offset--left {
    width: calc(100% + 2rem);
    margin-left: -2rem;
}

.offset--right {
    width: calc(100% + 2rem);
    margin-right: -2rem;
}

#goTopButton{
    cursor: pointer;
    position: fixed;
    border-bottom: solid 3px #000;
    bottom: 3rem;
    right: 50%;
    transform: translate(50%);
    width: auto;
    height: auto;
    /* background-color: black;
    border-radius: 50%; */
    text-align: center;
}

#goTopButton:hover{
    color: #003cff ;
    border-bottom: solid 3px #003cff ;
}